# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flutter build metadata
app.*.symbols
app.*.map.json

# Local environment
.env
.env.*
